.cart {
  position: fixed;
  top: 96px;
  right: 0;
  width: 400px;
  height: calc(100% - 96px);
  background-color: var(--grey-medium-dark);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  color: var(--silver);
  box-shadow: 0px -2px 5px 3px var(--grey-dark-dark);
}
.cart .cartFooter {
  margin-top: auto;
}
.cart .cartFooter {
  display: flex;
}

.cart .cartFooter button {
  flex: auto;
  background-color: var(--grey-medium-dark);
  transition: 0.3s;
}

.cart .cartFooter button:hover {
  background-color: var(--grey-light);
}
.cart .cartFooter span {
  background-color: #e9b005;
  color: #000;
}
.emptyCart {
  width: 350px;
  background-size: 350px;
}
.cart button img {
  width: 30px;
  height: 30px;
  margin: 0 1em;
}

.cart .cartHeader {
  padding: 0 1rem;
  background-color: var(--grey-dark-dark);
  height: 50px;
}
.cart span.closeBtn,
.cart span.clearBtn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  transition: all 0.2s ease;
  color: var(--grey-medium);
}
.cart span.clearBtn {
  right: 70px;
}
.cart span.closeBtn:hover,
.cart span.clearBtn:hover {
  color: var(--red-dark);
}
.cartItems {
  width: 100%;
  padding: 1px;
}
table {
  max-width: 390px !important;
  margin: auto;
}

table td.imageWrapper {
  width: 50px;
}

table tr td {
  height: 50px !important;
  padding: 0;
  position: relative;
}
table tr td.laptopDetails {
  width: 240px;
}
table td.laptopDetails h4 {
  height: 25px;
  position: absolute;
  padding: 0 0.5rem;
  top: 0;
}
table td.laptopDetails p {
  height: 25px;
  position: absolute;
  top: 25px;
  padding: 0 0.5rem;
}
table td.counter {
  width: 40px;
}
