.btn {
  padding: 10px 20px;
  border: none;
  transition: 0.5s;
}
.btn-primary {
  background-color: var(--green);
}
.btn-primary:hover {
  background-color: #fff;
  border: 1px solid var(--green);
}
.btn-dark {
  background-color: var(--black);
  color: var(--silver);
}
.btn-dark:hover {
  background-color: #fff;
  border: 1px solid var(--black);
}
.logout {
  color: #aaa;
  background-color: transparent;
  padding: 0px 10px;
  border-radius: 30px;
}
.logout:hover {
  color: #ccc;
}
