 .carousel{
    margin-top: 127px;
    /* height: 100vh !important; */
}

.c-item{
    height: 540px;


}
.c-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.carousel-caption{
    margin-top: -20px !important;
}