.footer {
  line-height: 2.1;
  background-color: var(--blue-dark-dark);
  color: var(--grey-light);
  padding: 60px 30px;
}
.footer .row {
  border-bottom: 1px solid var(--grey-dark);
}
.footer .links {
  display: flex;
}
.footer .links ul {
  list-style: none;
  flex: auto;
  padding: 0;
  margin: 0;
}
.footer ul li {
  cursor: pointer;
  transition: 0.3s;
}
.footer ul li:hover {
  text-decoration: underline;
  color: #fff;
}
.footer h4,
.footer h5 {
  color: #fff;
}
.footer .icons {
  display: flex;
  gap: 20px;
}
.footer .subscription {
  display: flex;
  gap: 30px;
}
.footer .subscription input {
  width: 312px;
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--grey-light);
  outline: none;
  color: var(--silver);
}
.footer img {
  text-shadow: 0 0 5px #ccc;
  width: 100%;
}
